:root {
  --bg: #0f172a;
  /* slate-900 */
  --fg: #e2e8f0;
  /* slate-200 */
  --accent: #22c55e;

  --linkColor: #007bff;
  /* green-500 */
  --header-height: 70px;
  --footer-height: 60px;
  --sidebar-width: 220px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell,
    "Noto Sans", sans-serif;
  background: var(--bg);
  color: var(--fg);
  line-height: 1.6;
}

.main {
    display: flex;
    background: antiquewhite;
    width: calc(100% - 13rem);
}

.group-1 {
 
}

.site-header {
  position: fixed;
  top: 0;
  width: 100%;
  height: var(--header-height);
  z-index: 1000;
}

.navbar {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  background: #f8f9fa;
  border-bottom: 1px solid #ddd;
}

.logo-img {
  height: 50px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.nav-links a {
  text-decoration: none;
  color: #302e2e;
  font-weight: 500;
}

.nav-links a:hover {
  color: var(--linkColor);
}

.layout {
  display: flex;
  padding-top: var(--header-height);
  padding-bottom: var(--footer-height);
  min-height: 100vh;
}

.sidebar {
  width: var(--sidebar-width);
  background: #020617;
  padding: 1rem;
}

.sidebar ul {
  list-style: none;
}

.sidebar li {
  margin-bottom: 1rem;
}

.sidebar a {
  color: white;
  text-decoration: none;
}

.sidebar a:hover {
  color: var(--accent);
}

.center {
  flex: 1;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
.group-1{
  display: flex;
  justify-content:space-between;
  height: 100px;
  border-bottom: #020617 solid;
}
h1{
  color: #020617;
}

#inp {
  height: 50px;
  width: 250px;
  text-align: center;
  border-radius: 20px;
  font-size: 20px;
  margin-top: 1rem;
}

#btn,
#btn-2 {
  margin-top: 10px;
  padding: 10px 15px;
  font-size: 18px;
  border-radius: 10px;
  background: white;
  transition: transform 0.3s;
}

#btn:hover,
#btn-2:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.out {
  background: white;
  height: 550px;
  width: 350px;
  margin: 20px;
  border-radius: 20px;
  border: 2px solid black;
  overflow-y: auto;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  font-size: 30px;
  padding: 1rem;
}

#ou-ul > li {
  list-style: none;
}


.site-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: var(--footer-height);
  background: var(--bg);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.main {
  flex: 1;
  overflow-y: auto;
}


.even-table {
  color: green;
}

.odd-table {
  color: red;
}


@media (max-width: 768px) {
  .sidebar {
    display: none;
  }

  .layout {
    flex-direction: column;
  }
}